<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>ConnectALL Bootstrap Template</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="../../assets/img/favicon.png" rel="icon">
  <link href="../../assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/animate/animate.min.css" rel="stylesheet">
  <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="css/style.css" rel="stylesheet">

  <!-- =======================================================
    Theme Name: NewBiz
    Theme URL: https://bootstrapmade.com/newbiz-bootstrap-business-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body>

  <!--==========================
  Header
  ============================-->
  <header id="header" class="fixed-top">
    <div class="container">

      <div class="logo float-left">
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <h1 class="text-light"><a href="#header"><span>NewBiz</span></a></h1> -->
        <a href="https://www.connectall.com" class="scrollto"><img src="../../assets/img/logo.png" alt="" class="logo-display" width="75"></a>
      </div>

      <nav class="main-nav float-right d-none d-lg-block">
        <ul>
          <li class="active"><a href="connectall-qa#intro">Home</a></li>
          <li><a href="connectall-qa#about">Questionnaire</a></li>
          <li><a href="connectall-qa#why-us">Our Legacy</a></li>
          <li><a href="connectall-qa#contact">Contact Us</a></li>
        </ul>
      </nav><!-- .main-nav -->
      
    </div>
  </header>

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro" class="clearfix">
    <div class="container">

      <div class="intro-img">
        <img src="../../assets/img/intro-img.svg" alt="" class="img-fluid">
      </div>

      <div class="intro-info">
        <h3>We provide you <br>best solutions with <br><span>ConnectALL</span><br> for your business <br> with your needs understood!</h3>
        <div>
          <a href="connectall-qa#about" class="btn-get-started scrollto">Get Started</a>
        </div>
      </div>

    </div>
  </section><!-- #intro -->

  <main id="main">

    <!--==========================
      About Us Section
    ============================-->
    <section id="about">
      <div class="container">
        <br>
        <header class="section-header">
          <h3>Preliminary Questionnaire</h3>
          <p>Let us sort out the challenges first! <br> Yes, why not when we have the questions answered before to engaging mutually.</p>
        </header>

        <div class="row about-container">

          <div class="col-lg-6 content order-lg-1 order-2">
            <p class="header-details">
              Infrastructure for the business.
            </p>

            <div class="icon-box wow fadeInUp">
              <h4 class="title-infra">How do you want ConnectALL to be hosted?</h4>
              <p>
                <select class="select-opt" name="user-pro" id="user-pro" >
                  <option value="OP">On-Premise</option>
                  <option value="SaaS">SaaS Offering</option>
                  <option value="Docker">Docker Based</option>
                </select>
              </p>
            </div>

            <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
              <h4 class="title-infra">What operating system you deal with?</h4>
              <p>
                <select class="select-opt" name="user-os" id="user-os" >
                  <option value="W">Windows 64-bit</option>
                  <option value="LRC">Linux - RedHat/Centos 64-bit (Legacy)</option>
                  <option value="LU">Linux - Ubuntu 64-bit (Legacy)</option>
                  <option value="LRC7">Linux - RedHat/Centos 64-bit (>= v7)</option>
                  <option value="LU7">Linux - Ubuntu 64-bit (>= 18)</option>
                </select>
              </p>
            </div>

            <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
              <h4 class="title-infra">ConnectALL extends supports for various standard adapters. Can you please add those required for your business in comma separated format?</h4>
              <p><input type="textarea" size="50px" /></p>
            </div>

          </div>

          <div class="col-lg-6 background order-lg-2 order-1 wow fadeInUp">
            <img src="../../assets/img/about-img.svg" class="img-fluid" alt="">
          </div>
        </div>

        <div class="row about-access">
          <div class="col-lg-6 wow fadeInUp">
            <img src="../../assets/img/about-extra-1.svg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0">
            <p class="header-details">Access Controls for business.</p>
            <div class="icon-box wow fadeInUp">
              <h4 class="title-access">Master administrator('admin' user) will be created when installing ConnectALL. Will you be requiring assistance for creating additional users and groups?</h4>
              <p class="description"><select class="select-opt" name="user-admin" id="user-admin" ><option value="Y">Yes</option><option value="N">No</option><option value="NI">Not Interested</option></select></p>
            </div>

            <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
              <h4 class="title-access">Type of authentication varies between adapter. Can you add few comma separated for assistance during installation?</h4>
              <p class="description"><input type="textarea" size="50px" /></p>
            </div>

            <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
              <h4 class="title-access">Will you be at some point of time start using ConnectALL Rest Service for push flows ?</h4>
              <p class="description"><select class="select-opt" name="user" id="user" ><option value="Y">Yes</option><option value="N">No</option><option value="NI">Not Interested</option></select></p>
            </div>
          </div>
        </div>

        <div class="row about-extra">
          <div class="col-lg-6 wow fadeInUp order-1 order-lg-2">
            <img src="../../assets/img/about-extra-2.svg" class="img-fluid" alt="">
          </div>

          <div class="col-lg-6 wow fadeInUp pt-4 pt-lg-0 order-2 order-lg-1">
            <p class="header-details">IT Security for business.</p>
            <div class="icon-box wow fadeInUp">
              <h5 class="title-access">Please mention any specific security concern we may need to address during installation of the ConnectALL product?</h5>
              <p class="description"><input type="textarea" size="50px" /></p>
            </div>

            <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
              <h5 class="title-access">We periodically conduct external and internal tests to identify vulnerabilities and attack vectors, including penetration testing, red team exercises, or vulnerability scanning. Please mention if there is anything apart you may need to be executed by us to ensure security in your business?</h5>
              <p class="description"><input type="textarea" size="50px" /></p>
            </div>

            <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
              <h5 class="title-access">How do you prefer installation of the ConnectALL product, in case of on-premise?</h5>
              <p class="description"><select class="select-opt" name="user-security" id="user-security" ><option value="OS">On-Site</option><option value="OC">Over the Call</option><option value="self">Self based on Documentation</option></select></p>
            </div>
          </div>
          
        </div>
                <div><button class="save-qa-resp" type="submit" title="Email Response">Save Response</button></div>

      </div>
    </section><!-- #about -->
    <!--==========================
      Why Us Section
    ============================-->
    <section id="why-us" class="wow fadeIn">
      <br><br>
      <div class="container">
        <header class="section-header">
          <h3>Why choose us?</h3>
          <p class="ca-adv">Because nobody optimize Your Value Stream better than us.</p>
        </header>

        <div class="row row-eq-height justify-content-center">

          <div class="col-lg-4 mb-4">
            <div class="card wow bounceInUp">
                <i class="fa fa-diamond"></i>
              <div class="card-body">
                <h5 class="card-title">Align IT with Business Outcomes</h5>
                <p class="card-text">ConnectALL allows you to align digital initiatives and IT to the business outcomes you want to achieve by enabling you to capture, visualize, analyze, and optimize critical indicators of speed and quality in your software delivery value stream.</p>
                <a href="www.connectall.com" class="readmore">Read more </a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 mb-4">
            <div class="card wow bounceInUp">
                <i class="fa fa-language"></i>
              <div class="card-body">
                <h5 class="card-title">Rise in Productivity and Costs Reduction</h5>
                <p class="card-text">ConnectALL helps you identify what you can improve in your value stream before it’s too late with tool integration and interoperability. Increase productivity, reduce costs, reduce errors and increase customer satisfaction with a constant flow of information between disparate systems and processes. Leverage Agile and DevOps methodologies to create a more effective software delivery value stream.</p>
                <a href="www.connectall.com" class="readmore">Read more </a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 mb-4">
            <div class="card wow bounceInUp">
                <i class="fa fa-object-group"></i>
              <div class="card-body">
                <h5 class="card-title">Better Traceability and Governance</h5>
                <p class="card-text">ConnectALL enables end-to-end visibility, traceability, and governance across your value stream, enabling you to identify and eliminate vulnerabilities early on to improve the speed at which you deliver software. </p>
                <a href="www.connectall.com" class="readmore">Read more </a>
              </div>
            </div>
          </div>

        </div>

        <div class="row counters">

          <div class="col-lg-3 col-6 text-center">
            <p>More than</p>
            <span data-toggle="counter-up">1000</span>
            <p> Happy Customers</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <p>Support for </p>
            <span data-toggle="counter-up">25+</span>
            <p> Standard adapters</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <p>Dedicated & Extended </p>
            <span data-toggle="counter-up">Support</span>
            <p> Team</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <p>Organised & Fluent</p>
            <span data-toggle="counter-up">20+</span>
            <p> Pioneered Engineers in Technology</p>
          </div>
  
        </div>

      </div>
    </section>

    <!--==========================
      Contact Section
    ============================-->
    <section id="contact">
      <div class="container-fluid">
        <br><br>
        <div class="section-header">
          <h3>Contact Us</h3>
        </div>

        <div class="row wow fadeInUp">

          <div class="col-lg-6">
            <div class="map mb-4 mb-lg-0">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3302.0062241879023!2d-118.14907818478247!3d34.14618288058041!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2c36e2e909a43%3A0x4619137bfb6372df!2s177%20E%20Colorado%20Blvd%20%23200%2C%20Pasadena%2C%20CA%2091105%2C%20USA!5e0!3m2!1sen!2sin!4v1624966455850!5m2!1sen!2sin" frameborder="0" style="border:0; width: 100%; height: 312px;" allowfullscreen></iframe>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="row">
              <div class="col-md-5 info">
                <i class="ion-ios-location-outline"></i>
                <p>177 E Colorado Blvd, Unit #200<br>Pasadena, California (CA) 91105</p>
              </div>
              <div class="col-md-4 info">
                <i class="ion-ios-email-outline"></i>
                <p>Email: support@connectall.com</p>
              </div>
              <div class="col-md-3 info">
                <i class="ion-ios-telephone-outline"></i>
                <p>Phone: +1 800 913 7457</p>
              </div>
            </div>

            <div class="form">
              <div id="sendmessage">Your message has been sent. Thank you!</div>
              <div id="errormessage"></div>
              <form action="" method="post" role="form" class="contactForm">
                <div class="form-row">
                  <div class="form-group col-lg-6">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                    <div class="validation"></div>
                  </div>
                  <div class="form-group col-lg-6">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                    <div class="validation"></div>
                  </div>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                  <div class="validation"></div>
                </div>
                <div class="text-center"><button type="button" title="Send Message">Send Message</button></div>
              </form>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #contact -->

  </main>

  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6 footer-info">
            <h2><b>ConnectALL</b></h2>
            <p>ConnectALL®, trusted by hundreds of enterprises across B2B and B2C industries, is an easy-to-use integration system built to help teams become self-sufficient. It requires no coding; specialists, ad-hoc, and citizen integrators do not have to depend on a central technology team.</p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">About us</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Terms of service</a></li>
              <li><a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              ConnectALL India Private Limited<br>
Global Infocity Park Chennai, <br>
Block A (East Wing) 1st Floor, No. 40, MGR Salai, <br>
Kandanchavadi, Perungudi<br>
Chennai 600 096, Tamil Nadu, India<br>
              <strong>Phone:</strong> +1 800 913 7457<br>
              <strong>Email:</strong> support@Connectall.com<br>
            </p>

            <div class="social-links">
              <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
              <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
              <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
              <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
            </div>

          </div>

          <div class="col-lg-3 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>The Industry-Leading Value Stream Management Company Dedicated to Helping Customers Achieve Higher Levels of Predictability, Traceability, Agility and Velocity.</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit"  value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Team D FedEx</strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=NewBiz
        -->
        Designed with <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <!-- Uncomment below i you want to use a preloader -->
  <!-- <div id="preloader"></div> -->

  <!-- JavaScript Libraries -->
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/jquery/jquery-migrate.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="lib/easing/easing.min.js"></script>
  <script src="lib/mobile-nav/mobile-nav.js"></script>
  <script src="lib/wow/wow.min.js"></script>
  <script src="lib/waypoints/waypoints.min.js"></script>
  <script src="lib/counterup/counterup.min.js"></script>
  <script src="lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="lib/isotope/isotope.pkgd.min.js"></script>
  <script src="lib/lightbox/js/lightbox.min.js"></script>
  <!-- Contact Form JavaScript File -->
  <script src="contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="js/main.js"></script>

</body>
</html>